.character_sheet__main {
  border: 1px solid;
  margin: auto;
  position: relative;
  width: 1200px;
}

.black_and_white__tr {
  background-color: black;
  color: white;
  text-align: center;
}

.white_and_black__tr {
}

.grey_and_black__tr {
}
