.character-sheet__main {
  border: 1px solid;
  margin: auto;
  position: relative;
  width: 1200px;
}

.black-and-white__cell {
  background-color: black;
  color: white;
  text-align: center;
}

.white-and-black__cell {
  background-color: white;
  color: black;
  text-align: center;
}

.grey-and-black__cell {
  background-color: #cccccc;
  text-align: center;
}

.light-grey-and-black__cell {
  background-color: #e6e6e6;
  text-align: center;
}

.solid-border__cell {
  td {
    border: 1px solid black;
  }
}

.no-horizontal-border__cell {
  border-bottom: 0 !important;
  border-top: 0 !important;
}

#test-difficulty-cheatsheet__table {
  tr {
    text-align: center;
    width: 100%;
  }

  tr > td {
    width: 50%;

    &.-left {
      border-left: 0;
    }

    &.-right {
      border-right: 0;
    }
  }
}

.nested__table {
  width: 100%;

  th {
    border: 1px solid black;
    text-align: center;
  }

  td {
    font-weight: bold;
    text-align: center;
  }
}

td.text-left-allign {
  font-weight: bold;
  text-align: left;
}


td.table-wrapping__cell {
  padding: 0;
}
